<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4">Register of Loans</h3>

        </div>
    </ng-template>

    <p>
        <p-table [value]="Loans"
            styleClass="p-datatable-gridlines" 
            responsiveLayout="stack" 
            [paginator]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]"
            [tableStyle]="{ 'max-width': '58rem', 'min-width': '50rem' }"
            [globalFilterFields]="['id', 'UserID', 'date_loan', 'type_loanID', 'amount_loan', 'interests', 'state']">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id" style="width:10%">ID <p-sortIcon field="id" /></th>
                    <th pSortableColumn="UserID" style="width:15%">User ID <p-sortIcon field="UserID" /></th>
                    <th pSortableColumn="date_loan" style="width:20%">date of loan <p-sortIcon field="date_loan" /></th>
                    <th pSortableColumn="type_loanID" style="width:15%">Type of loan <p-sortIcon field="type_loanID" /></th>
                    <th pSortableColumn="amount_loan" style="width:15%">amount of loan <p-sortIcon field="amount_loan" /></th>
                    <th pSortableColumn="interests" style="width:15%">Interés <p-sortIcon field="interests" /></th>
                    <th class="flex justify-content-center flex-wrap">state</th>
                    <th pSortableColumn="interests" style="width:15%">Acciones <p-sortIcon/></th>
                </tr>
                <tr>
                    <th><p-columnFilter type="text" field="id" [showClearButton]="true" /></th>
                    <th><p-columnFilter type="text" field="UserID" [showClearButton]="true" /></th>
                    <th><p-columnFilter type="date" field="date_loan" [showClearButton]="true" /></th>
                    <th><p-columnFilter type="text" field="type_loanID" [showClearButton]="true" /></th>
                    <th><p-columnFilter type="text" field="amount_loan" [showClearButton]="true" /></th>
                    <th><p-columnFilter type="text" field="interests" [showClearButton]="true" /></th>
                    <th><p-columnFilter type="boolean" field="state" [showClearButton]="true" /></th>
                    
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-Loans>
                <tr>
                    <!-- Columna editable para id -->
                    <td [pEditableColumn]="Loans.id" pEditableColumnField="id">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="Loans.id" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ Loans.id }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna editable para UserID -->
                    <td [pEditableColumn]="Loans.UserID" pEditableColumnField="UserID">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="Loans.UserID" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ Loans.UserID }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna editable para fecha de préstamo -->
                    <td [pEditableColumn]="Loans.date_loan" pEditableColumnField="date_loan">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="date" [(ngModel)]="Loans.date_loan" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ Loans.date_loan }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna editable para tipo de préstamo -->
                    <td [pEditableColumn]="Loans.type_loanID" pEditableColumnField="type_loanID">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="Loans.type_loanID" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ Loans.nombreTipoPrestamo }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna editable para monto de préstamo -->
                    <td [pEditableColumn]="Loans.amount_loan" pEditableColumnField="amount_loan">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="Loans.amount_loan" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ Loans.amount_loan }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna editable para interés -->
                    <td [pEditableColumn]="Loans.interests" pEditableColumnField="interests">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="Loans.interests" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ Loans.interests }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna editable para state -->
                    <td [pEditableColumn]="Loans.state" pEditableColumnField="state">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="checkbox" [(ngModel)]="Loans.state" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ Loans.state ? 'Activo' : 'Inactivo' }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna de acciones -->
                    <td>
                        <button 
                            pButton 
                            pRipple
                            size="small"
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [raised]="true"
                            (click)="UpdateLoanss(Loans)">
                        </button>
                        
                        <button 
                            pButton 
                            pRipple
                            size="small"
                            severity="danger"
                            icon="pi pi-trash"
                            class="mr-1"
                            [raised]="true"
                            (click)="delete(Loans.id)">
                        </button>

                        <button 
                        pButton 
                        pRipple
                        size="small"
                        severity="warning"
                        class="mr-1"
                        [raised]="true"
                        [routerLink]="['/warranty/new', Loans.id]">
                        Create warranty
                    </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>
