<p-card class="w-12 h-full">
  <ng-template pTemplate="header">
      <div class="flex justify-content-between flex-wrap">
          <h3 class="ml-4">Register of Warranties</h3>
          <td>
          </td>
      </div>
  </ng-template>

  <p>
      <p-table [value]="warrantys"
          styleClass="p-datatable-gridlines" 
          responsiveLayout="stack" 
          [paginator]="true"
          [rows]="5"
          [rowsPerPageOptions]="[5, 10, 20]"
          [tableStyle]="{ 'max-width': '58rem', 'min-width': '50rem' }"
          [globalFilterFields]="['LoanID', 'type_warranty', 'value_warranty', 'description']">

          <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="LoanID" style="width:15%">Loan ID <p-sortIcon field="LoanID" /></th>
                  <th pSortableColumn="type_warranty" style="width:15%">Type Warranty <p-sortIcon field="type_warranty" /></th>
                  <th pSortableColumn="value_warranty" style="width:15%">Value Warranty <p-sortIcon field="value_warranty" /></th>
                  <th pSortableColumn="description" style="width:40%">Description <p-sortIcon field="description" /></th>
                  <th class="flex justify-content-center flex-wrap">Action</th>
              </tr>
              <tr>
                  <th><p-columnFilter type="text" field="LoanID" [showClearButton]="true" /></th>
                  <th><p-columnFilter type="text" field="type_warranty" [showClearButton]="true" /></th>
                  <th><p-columnFilter type="text" field="value_warranty" [showClearButton]="true" /></th>
                  <th><p-columnFilter type="text" field="description" [showClearButton]="true" /></th>
              </tr>
          </ng-template>

          <ng-template pTemplate="body" let-warrantys>
              <tr>
                  <!-- Columna editable para ID del préstamo -->
                  <td [pEditableColumn]="warrantys.LoanID" pEditableColumnField="LoanID">
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="number" [(ngModel)]="warrantys.LoanID" />
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{ warrantys.LoanID }}
                          </ng-template>
                      </p-cellEditor>
                  </td>

                  <!-- Columna editable para tipo de garantía -->
                  <td [pEditableColumn]="warrantys.type_warranty" pEditableColumnField="type_warranty">
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="warrantys.type_warranty" />
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{ warrantys.type_warranty }}
                          </ng-template>
                      </p-cellEditor>
                  </td>

                  <!-- Columna editable para valor de garantía -->
                  <td [pEditableColumn]="warrantys.value_warranty" pEditableColumnField="value_warranty">
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="number" [(ngModel)]="warrantys.value_warranty" />
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{ warrantys.value_warranty }}
                          </ng-template>
                      </p-cellEditor>
                  </td>

                  <!-- Columna editable para descripción de la garantía -->
                  <td [pEditableColumn]="warrantys.description" pEditableColumnField="description">
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="warrantys.description" />
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{ warrantys.description }}
                          </ng-template>
                      </p-cellEditor>
                  </td>

                  <!-- Columna de Action -->
                  <td>
                      <!-- Botón de actualizar garantía directamente -->
                      <button 
                          pButton 
                          pRipple
                          size="small"
                          icon="pi pi-sync"
                          severity="warning"
                          class="mr-1"
                          [raised]="true"
                          (click)="Updatewarranty(warrantys)">
                      </button>
                      
                      <button 
                          pButton 
                          pRipple
                          size="small"
                          severity="danger"
                          icon="pi pi-trash"
                          class="mr-1"
                          [raised]="true"
                          (click)="eliminar(warrantys.id)">
                      </button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
  </p>
</p-card>

