<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4">Register of Amortization</h3>
            <td>
            </td>
        </div>
    </ng-template>

    <p>
        <p-table [value]="Amortizationes"
            styleClass="p-datatable-gridlines" 
            responsiveLayout="stack" 
            [paginator]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]"
            [tableStyle]="{ 'max-width': '58rem', 'min-width': '50rem' }"
            [globalFilterFields]="['id', 'LoanID', 'date', 'amount', 'states']">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id" style="width:10%">ID <p-sortIcon field="id" /></th>
                    <th pSortableColumn="LoanID" style="width:20%">Préstamo ID <p-sortIcon field="LoanID" /></th>
                    <th pSortableColumn="date" style="width:20%">date <p-sortIcon field="date" /></th>
                    <th pSortableColumn="amount" style="width:20%">amount <p-sortIcon field="amount" /></th>
                    <th pSortableColumn="states" style="width:20%">states <p-sortIcon field="states" /></th>
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
                <tr>
                    <th><p-columnFilter type="numeric" field="id" [showClearButton]="true" /></th>
                    <th><p-columnFilter type="numeric" field="LoanID" [showClearButton]="true" /></th>
                    <th><p-columnFilter type="date" field="date" [showClearButton]="true" /></th>
                    <th><p-columnFilter type="numeric" field="amount" [showClearButton]="true" /></th>
                    <th><p-columnFilter type="boolean" field="states" [showClearButton]="true" /></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-amortizacion>
                <tr>
                    <!-- Columna editable para id -->
                    <td [pEditableColumn]="amortizacion.id" pEditableColumnField="id">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="amortizacion.id" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ amortizacion.id }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna editable para LoanID -->
                    <td [pEditableColumn]="amortizacion.LoanID" pEditableColumnField="LoanID">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="amortizacion.LoanID" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ amortizacion.LoanID }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna editable para date -->
                    <td [pEditableColumn]="amortizacion.date" pEditableColumnField="date">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="date" [(ngModel)]="amortizacion.date" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ amortizacion.date }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna editable para amount -->
                    <td [pEditableColumn]="amortizacion.amount" pEditableColumnField="amount">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="amortizacion.amount" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ amortizacion.amount }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna editable para states -->
                    <td [pEditableColumn]="amortizacion.states" pEditableColumnField="states">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="checkbox" [(ngModel)]="amortizacion.states" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ amortizacion.states ? 'paid' : 'unpaid' }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna de acciones -->
                    <td>
                        <button 
                            pButton 
                            pRipple
                            size="small"
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [raised]="true"
                            (click)="updateAmortization(amortizacion)">
                        </button>
                        
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>


