<p-card class="w-12 h-full">

    <p>
        <p-table [value]="Accounts" styleClass="p-datatable-gridlines" responsiveLayout="stack" [paginator]="true"
            [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{ 'max-width': '58rem', 'min-width': '50rem' }"
            [globalFilterFields]="['UserID', 'number', 'TypeAccountID', 'Current']">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="UserID" style="width:19%">UserID <p-sortIcon field="UserID" /></th>
                    <th pSortableColumn="number" style="width:19%">number <p-sortIcon field="number" /></th>
                    <th pSortableColumn="TypeAccountID" style="width:19%">TypeAccountID <p-sortIcon
                            field="TypeAccountID" /></th>
                    <th pSortableColumn="Current" style="width:19%">Current <p-sortIcon field="Current" /></th>
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
                <tr>
                    <th><p-columnFilter type="text" field="UserID" [showClearButton]="true" /></th>
                    <th><p-columnFilter type="text" field="number" [showClearButton]="true" /></th>
                    <th><p-columnFilter type="text" field="TypeAccountID" [showClearButton]="true" /></th>
                    <th><p-columnFilter type="text" field="Current" [showClearButton]="true" /></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-Accounts>
                <tr>
                    <!-- Columna editable para UserIDCliente -->
                    <td [pEditableColumn]="Accounts.UserID" pEditableColumnField="UserID">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="Accounts.UserID" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ Accounts.UserID }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna editable para numberCliente -->

                    <td [pEditableColumn]="Accounts.number" pEditableColumnField="number">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="Accounts.number" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ Accounts.number }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- Columna editable para TypeAccountIDCliente -->
                    <td [pEditableColumn]="Accounts.TypeAccountID" pEditableColumnField="TypeAccountID">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown 
                                [options]="TypeAccount"
                                optionLabel="type"
                                optionValue="id"
                                [filter]="true" 
                                [(ngModel)]="Accounts.TypeAccountID">
                                </p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ Accounts.TypeAccountID }}
                            </ng-template>
                        </p-cellEditor>
                    </td>



                    <!-- Columna editable para CurrentCliente -->
                    <td [pEditableColumn]="Accounts.current_balance" pEditableColumnField="current_balance">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="Accounts.current_balance" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ Accounts.current_balance }}
                            </ng-template>
                        </p-cellEditor>
                    </td>


                    <!-- Columna de acciones -->
                    <td>
                        <!-- Botón de actualizar cliente directamente -->

                        <button pButton pRipple size="small" icon="pi pi-sync" severity="warning" class="mr-1"
                            [raised]="true" (click)="updateAccount(Accounts)">
                        </button>

                        <button pButton pRipple size="small" severity="danger" icon="pi pi-trash" class="mr-1"
                            [raised]="true" (click)="deleteAccount(Accounts.id)">
                        </button>

                        <button pButton pRipple size="small" severity="danger" icon="pi pi-trash" class="mr-1"
                            [raised]="true" [routerLink]="['/Loan/new', Accounts.UserID]">
                            Crear Prestamos
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>